<div class="welcome" fxLayout='column' fxLayout.gt-lg='row' fxLayoutGap="20px" fxLayoutAlign='center center'>

    <section>
        <h1>Ego Vision</h1>
        <p>The wearable egocentric video monitoring platform.</p>
    </section>
    <section>
        <img src="" alt="">
        <h2>STUDY: Clinical decision support in the rehabilitation of hand function post-spinal cord injury or stroke in outpatient settings using egocentric video.</h2>
        <p>This study has been reviewed and has been granted Institutional Authorization. This authorization is subject to UHN policy 40.20.008.</p>
    </section>

</div>  