<div class="welcome" fxLayout='column' fxLayoutGap="10px" fxLayoutAlign='center center'>
    <div class="center">
        <section>
            <h1>EGO VISION</h1>
            <p>An egocentric video clinical decision support tool to characterize the influence of integrating wearable technology with CDSS on clinical decision-making and therapy planning in SCI and stroke patients by delivering patient-specific insights to therapists.</p>
            <p>This study has been reviewed and has been granted Institutional Authorization. This authorization is subject to UHN policy 40.20.008.</p>
            <img class="image" src="../../assets/logo-kite.png" alt="">
        </section>
    </div>
</div>  