mat-toolbar {
    display: flex;
}

.logo {
    margin-right: auto;
}

.icons {
    display: flex;
}

.navitem {
    color: white;
    font-family: Roboto,Helvetica Neue,sans-serif;
    font-size: 14px;
    font-weight: 500;
    
    position: relative;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    margin: 0;
    padding: 0 16px;
    overflow: visible;
}

:focus {
    outline: none;
}

a.navitem:hover, 
a.navitem:active, 
a.navitem-icon:hover,
a.navitem-icon:focus, 
a.navitem-icon:active {
    color: lightgray;
}


.nav-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navitem-icon {
    display: flex;
    align-items: center;

    color: white;
    font-family: Roboto,Helvetica Neue,sans-serif;
    font-size: 14px;
    font-weight: 500;
    position: relative;

    cursor: pointer;
    text-decoration: none;
    margin: 0;
    padding: 0 16px;
    overflow: visible;
}

.nav-cap {
    padding-left: 10px;
    display: inline-block;
}