<section class="patient-cards">
    <app-patient *ngIf="!selectedPatient"></app-patient>
</section>

<section class="patient-profile" *ngIf="selectedPatient">
    <!-- <button
        mat-button
        class="btn-stretch"
        (click)="checkPatient()"
    >
        Add data
    </button> -->
    
    <header>
        <button 
            mat-icon-button 
            class="btn-back"
            (click)="goBack()"
        >
            <mat-icon>chevron_left</mat-icon>
            <span class="btn-back__text nav-cap">Back</span>
        </button>

        <h3>{{ currentPatient.id }}</h3>
    </header>
    
    <mat-tab-group
        *ngIf="selectedPatient" 
        mat-stretch-tabs 
        mat-align-tabs="center" 
        animationDuration="500ms"
    >
        <mat-tab label="Reports">
            <app-reports></app-reports>
        </mat-tab>

        <mat-tab label="Videos">
            <app-videos></app-videos>
        </mat-tab>
    </mat-tab-group>
</section>

