<section class="patient-cards">
    <app-patient *ngIf="!selectedPatient"></app-patient>
</section>

<section class="patient-profile" *ngIf="selectedPatient">
    <!-- <button mat-button (click)="checkPatient()">CHECK PATIENT</button> -->
    <div fxLayout="column" >
        <button mat-icon-button (click)="goBack()" fxLayoutAlign="start center">
            <mat-icon>chevron_left</mat-icon>
            <span class="nav-cap">Back</span>
        </button>

        <h3 fxLayoutAlign="center center">{{ currentPatient.id }}</h3>
    </div>
    
    <mat-tab-group *ngIf="selectedPatient">
        <mat-tab label="Reports">
            <app-reports></app-reports>
        </mat-tab>
        <mat-tab label="Videos">
            <app-videos></app-videos>
        </mat-tab>
    </mat-tab-group>
</section>

