<section class="patient-card">
    <mat-card *ngFor="let patient of patients">
        <div class="mat-card-text">
            <mat-card-title>{{ patient.name }}</mat-card-title>
            <mat-card-subtitle>ID: {{ patient.id }}</mat-card-subtitle>
            <mat-card-content>
              <p>
                  <strong>Age:</strong> {{ patient.age }} <br>
                  <strong>Description:</strong> {{ patient.description }}
              </p>
            </mat-card-content>
        </div>

        <mat-card-actions>
            <button mat-button (click)="onPatientClick(patient.id)">VIEW REPORTS</button>
        </mat-card-actions>
    </mat-card>
</section>
