<section class='upload-form'>
    <form 
        fxLayout="column" 
        fxLayoutAlign="center center" 
        fxLayoutGap='10px'
        [formGroup]="upForm"
        (ngSubmit)="onSubmit()">
        <h1>Upload Image File:</h1>
		<input
			formControlName="file"
			id="input_file"
			name="input_file"
			type="file"
			class="form-control"
			(change)="onFileChange($event)"
			required>
		<div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
			<div *ngIf="f.file.errors!.required">File is required</div>
		</div>
		<div>
        	<button mat-raised-button color='primary' [disabled]="upForm.invalid" type="submit">Submit</button>
		</div>
    </form>

	<div *ngIf="submitted"
		fxLayout="column"
		fxLayoutAlign="cener center">
		<br>
		<h3>Prediction:</h3>
		<!-- Interaction is determined by model response > 80%. -->
		<div *ngIf="response_received; else loading">
			<h4 *ngIf="predictions[0]>0.8; else noInt">Interaction detected!</h4>
		</div>
	</div>
	
	<ng-template #noInt>
		No Interaction detected.
	</ng-template>
	<ng-template #loading>
		Loading response...
	</ng-template>
</section>