mat-form-field {
    width: 300px;
}

button {
    margin-top: 20px;
}

.signup-form {
    margin-top: 10%;
}

.navitem {
    color:black;
    font-family: Roboto,Helvetica Neue,sans-serif;
    font-size: 14px;
    font-weight: 500;

    position: relative;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    margin-top: 10px;
    padding: 0 16px;
    overflow: visible;
}